.inputs--cate {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: .3rem;
}
.selected {
    background-color: #B9B9B9;
    color: #555555;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-width: 50px;
}
.selected button.remove {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: rgb(208, 78, 8);
    font-size: 8px;
}

h2, h1 {
    color: var(--spicy-color-1-L);
}